body {
  font-family: Arial;
  background: #0a1f44;
  color: white;
  text-align: center;
}

.card {
  background: #132f5e;
  padding: 20px;
  margin: 15px auto;
  width: 300px;
  border-radius: 8px;
}

button {
  padding: 10px;
  margin: 5px;
  background: #ff9800;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #ffa726;
}

.grid button {
  width: 200px;
}

.quote {
  font-style: italic;
  color: #ffcc80;
}
